main {
  background-color: rgb(9, 12, 21);
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 3rem;
  color: rgb(255, 255, 255);
  height: 100vh;
}

main .home-intro p {
  font-size: 18px;
  line-height: 30px;
}

main .home-intro a {
  color: rgb(132, 186, 100);
}

.container {
  display: flex;
  justify-content: center;
}

.home-intro {
  justify-content: center;
}

.home-intro h2 {
  margin-top: 2rem;
  font-size: 26px;
  line-height: 39px;
  font-weight: medium;
}

.schedule p {
  margin-top: 0.2rem;
}

main .row {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  margin-top: -1.5rem;
}

main .row .col {
  padding: 1rem;
}

.wrapButton {
  width: 20rem;
}

.wrapButton a h3,
.wrapButton a p {
  color: rgb(255, 255, 255);
}

.wrapButton ul {
  display: flex;
  justify-content: center;
}

main .row .col .wrapButton p {
  font-size: 18px;
}

.download__lts,
.download__current {
  background-color: rgb(2, 110, 0);
  padding: 0.6rem;
  border-radius: 0.3rem;
  margin-top: 1rem;
  height: 5rem;
  align-items: center;
  font-size: 20px;
  line-height: 30px;
}

main .row .col ul {
  display: flex;
}

main .row .col ul li + li:before {
  color: #999;
  content: "|";
  padding: 0 0.3em 0 0.1em;
}
