footer {
  display: flex;
  justify-content: center;
  background-color: rgb(35, 48, 86);
  color: rgb(255, 255, 255);
  font-size: small;
  position: fixed;
  bottom: 0;
  padding: 1.6rem 1.6rem 1rem 1.6rem;
}

.container {
  width: 82%;
}

footer p {
  text-align: center;
}

footer .row .col,
footer .row .col ul {
  display: flex;
  justify-content: center;
  margin-top: 0.3rem;
}

footer .row .col ul li + li:before {
  color: #999;
  content: "|";
  padding: 0 0.3em 0 0.1em;
}

footer a {
  color: rgb(173, 216, 230);
}
